/* -------- timeline recap -------- */ 

#timeline_recap {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: white;
    line-height: 3rem;
    z-index: 2;
}

#timeline_recap .recap {
    height: 2rem;
    line-height: 3rem;
    padding: 0 20px;
}

#timeline_recap .recap_b {
    border-bottom: 1px solid #bcbcbc;
    height: 1.5rem;
    line-height: 1.5rem;
}

.shift {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.shift div:nth-child(1) {
    width: 33%;
}

.shift div:nth-child(2) {
    width: 67%;
}

.shift div:nth-child(3) {
    width: 10%;
}



/* -------- main -------- */ 

#main {
    display: flex;
    border-bottom: 1px solid #bcbcbc;
}

#the_article_box, #articles_box {
    max-height: 66vh;
}

#articles_box {
    width: 60%;
    cursor: pointer;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

#the_article_box {
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-left: 1px solid #bcbcbc;
}

/* #overall_timeline #prompt_box */ 

#prompt_box {
    position: relative;
    height: 200px;
    border-bottom: 1px solid #ddd;
}

/* -------- articles box -------- */ 

#article_info_box{
    padding: 20px;
    height: 30vh;
    border-bottom: 1px dashed #bcbcbc;
    box-shadow: 0px 5px 5px 1px rgba(200, 200, 200, .3);
    position: relative;
    z-index: 1;
}   

.article_box {
    min-height: 120px;
    border-bottom: 1px solid #bcbcbc;
    display: flex;
    justify-content: space-between;
/*    width: 45%;*/
/*    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-column-gap: 10px;*/
}

.article_box:hover {
    background-color: white;
}

.selected {
    background-color: white;
}

.article_title {
    font-weight: bold;
}

#the_title {
    font-size: 1.5rem;
    font-weight: bold;
}

#the_info {
    margin-top: 0.5rem;
}

#the_abstract h2, #the_actors h2 {
    font-weight: bold;
}

.info_box {
    margin-top: 2rem;
    line-height: 120%;
}

.the_meta {
    border-right: 1px solid #dbdbdb;
    width: 50%;
}

    .the_meta div {
        padding: 20px;
    }

.the_timeline {
    height: 5rem;
    width: 40%;
    margin-top: .4rem;
}

.the_arrow{
    width: 10%;
    border-left: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    justify-content: center;
}

/* -------- prompt box -------- */ 

#chat {
    min-height: 20vh;
    height: 30vh;
    padding: 20px;
    overflow-x: scroll;
}

.message_sent {
    margin-bottom: 2.5rem;
}

#input_box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
/*    position: absolute;
    bottom: -40px;*/
    border-top: 1px solid #dbdbdb;
    width: calc(100% - 20px);
}

#input_box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
    font-family: "Source Sans 3", Arial, sans-serif;
    font-size: 1rem;
    overflow-y: hidden;
}

#input_box input[type="text"]:focus {
    border-color: #a9a9a9;
}

#input_box button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #5b4fe0; /* #4538d8; */
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#input_box button:hover {
    background-color: #4035b3;
}

.chat_question {
    color: gray;
    border-radius: 10px;
    padding: 5px 0;
    line-height: 140%;
}

.chat_reply {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 140%;
    border: 1px solid #dedede;
}