/* -------- timeline recap -------- */ 

#timeline_recap {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: white;
    line-height: 3rem;
    z-index: 2;
}

#timeline_recap .recap {
    height: 2rem;
    line-height: 3rem;
    padding: 0 20px;
}

#timeline_recap .recap_b {
    border-bottom: 1px solid #bcbcbc;
    height: 1.5rem;
    line-height: 1.5rem;
}

.shift {
    width: 60%;
}

.second_shift {
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-column-gap: 10px;
}


/* -------- main -------- */ 

#main {
    display: flex;
    border-bottom: 1px solid #bcbcbc;
}

#articles_box {
    width: 60%;
    cursor: pointer;
    background-color: #f6f6f6;
}


#the_article_box {
    width: 40%;
    border-left: 1px solid #bcbcbc;

}

/* #overall_timeline #prompt_box */ 

/* -------- articles box -------- */ 

#article_info_box{
    padding: 20px;
    min-height: 20vh;
    border-bottom: 1px dashed #bcbcbc;
    box-shadow: 0px 5px 5px 1px rgba(200, 200, 200, .3);
    position: relative;
    z-index: 1;
}   

.article_box {
    min-height: 120px;
    border-bottom: 1px solid #bcbcbc;
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-column-gap: 10px;
}

.article_box:hover {
    background-color: white;
}

.selected {
    background-color: white;
}

.article_title {
    font-weight: bold;
}

#the_title {
    font-size: 1.5rem;
    font-weight: bold;
}

#the_info {
    margin-top: 0.5rem;
}

#the_abstract h2, #the_actors h2 {
    font-weight: bold;
}

.info_box {
    margin-top: 2rem;
    line-height: 120%;
}

.the_meta {
    border-right: 1px solid #bcbcbc;
}

.the_meta div {
    padding: 20px 20px 0 20px;
}

.the_timeline {
    height: 5rem;
    margin-top: .4rem;
}

/* -------- prompt box -------- */ 

#chat {
    min-height: 25vh;
    max-height: 60vh;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    overflow-x: scroll;
}

.message_sent {
    margin-bottom: 2.5rem;
}
/*#question_chat_box {
    overflow-y: auto;
    padding: 20px;
}

#reply_chat_box {
    padding: 0 20px 20px;
}
*/
.input_box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    width: auto;
}

.input_box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
    font-family: "Source Sans 3", Arial, sans-serif;
    font-size: 1rem;
}

.input_box input[type="text"]:focus {
    border-color: #a9a9a9;
}

.input_box button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #5b4fe0; /* #4538d8; */
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input_box button:hover {
    background-color: #4035b3;
}

.chat_question {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 140%;
}

.chat_reply {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 140%;
    border: 1px solid #dedede;
}