body {
	font-family: "Source Sans 3", Arial, sans-serif;
  	font-optical-sizing: auto;
}

a {
	text-decoration: none;
    color: #4538d8;
}

/* -------- colors -------- 

gray_bg         #D9D9D9
gray_lines      #bcbcbc
black_lines     #BBB

 -------- menu -------- */ 


/* -------- colors -------- */

.bg {
    background-color: #f6f6f6;
}

#navbar, #navbar a {
    color: black;
}

#navbar {
    background-color: #D9D9D9;
    height: 3.5rem;
    border-bottom: 1px solid #BBB;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;	
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.title {
	padding: 0 20px;
	font-weight: bold;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.menu li {
    padding: 0 20px;
    font-weight: normal;
    height: 3.5rem;
    line-height: 3.5rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.menu .current {
	background-color: white;
}

/* -------- search options -------- */ 

#search_options {
    margin-top: 3.5rem;
}

#search_box {
    font-family: "Source Serif 4", Times, serif;
    height: 9rem;
    border-bottom: 1px solid #bcbcbc;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#query {
    margin-bottom: 0.5rem;
    width: 100%;
}

#search_box .content {
    margin-left: 1rem;
}

#query input[type=text] {
    font-family: "Source Serif 4", Times, serif;
    font-weight: bold;
    font-size: 4.5rem;
    width: 95%;
    background-color: transparent;
}

#autocomplete_list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #bcbcbc;
    position: absolute;
    background-color: white;
    width: 50%;
    height: 10rem;
    overflow-y: scroll;
    display: none;
}

#autocomplete_list li {
    padding: 8px;
    cursor: pointer;
}

#autocomplete_list li:hover {
    background-color: #f0f0f0;
}

/* -------- filter and sort -------- */ 

#filter_sort_options {
    border-bottom: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
}

#filter_sort_options .controller {
    height: 7.25rem;
    width: 45%;
/*    padding: 5rem 0.5rem 20px;*/
/*    line-height: 5rem;*/
}

#filter_sort_options .controller {
    border-right: 1px solid #bcbcbc;
}

#filter_sort_options .controller div {
    padding: 5rem 0 0 20px;
}

#filter_sort_options #help {
    width: 10%;
}

#filter_sort_options #help div {
    line-height: 7.25rem;
    text-align: center;
    font-size: 1.5rem;
}

/* -------- help -------- */ 

#options_help {
    position: relative;
}

#help {
    cursor: pointer;
}

#help_box {
    display: none;
    position: absolute;
    background-color: white;
    border-right: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    height: 7.25rem;
    top: 3.5rem;
    width: 90%;
    opacity: 0; /* Hide initially */
    transition: opacity 2s ease-in-out;
/*    -webkit-box-shadow: 0px 5px 5px 5px rgba(184,184,184,0.5);
    -moz-box-shadow: 0px 5px 5px 5px rgba(184,184,184,0.5);
    box-shadow: 0px 5px 5px 5px rgba(184,184,184,0.5);*/
}

#help:hover + #help_box {
    display: block;
    opacity: 1;
}

#help_box p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
    line-height: 7.25rem;
}



/* -------- data recap -------- */ 

#data_recap {
    border-bottom: 1px solid #bbb;
}

#data_recap .recap {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 10px;
    padding: 20px 20px;
}

.recap .detail {
    display: flex;
    align-items: center;
}

.recap .detail .value {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.recap .detail .label {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.small_recap {
    font-size: 0.9rem;
}

/* -------- footer -------- */

#footer {
    padding: 20px;
}

#footer strong {
    font-weight: bold;
}

#footer li {
    margin-bottom: 1rem;
}

#footer div {
    margin-bottom: 2.5rem;
}


@media screen and (max-width: 768px) {

	/* -------- menu -------- */ 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-header {
    	width: 100%;
    }
    	
    .menu-toggle {
    	display: block;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        background-color: white;
        border-bottom: 1px solid #D9D9D9;

    }

    .menu li a {
        padding: 10px 20px;
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
    }

    .menu li:first-child {
    	border-top: 1px solid #D9D9D9;
    }

    .menu .current {
		color: #bcbcbc;
	}
}
