body {
	font-family: "Source Sans 3", Arial, sans-serif;
  	font-optical-sizing: auto;
}

a {
	text-decoration: none;
    color: #7c71f8;
}

/* -------- colors -------- 

gray_bg         #D9D9D9
gray_lines      #bcbcbc
black_lines     #797373

 -------- menu -------- */ 


/* -------- colors -------- */

.bg {
    background-color: #f6f6f6;
}

#navbar, #navbar a {
    color: black;
}

#navbar {
    background-color: #D9D9D9;
    height: 3.5rem;
    border-bottom: 1px solid #797373;
    position: fixed;
    width: 100%;
    top: 0;
}

.box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;	
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.title {
	padding: 0 20px;
	font-weight: bold;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.menu li {
    padding: 0 20px;
    font-weight: normal;
    height: 3.5rem;
    line-height: 3.5rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.menu .current {
	background-color: white;
}

/* -------- footer -------- */

#footer {
    padding: 20px;
}


@media screen and (max-width: 768px) {

	/* -------- menu -------- */ 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-header {
    	width: 100%;
    }
    	
    .menu-toggle {
    	display: block;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 10px 20px;
        border-bottom: 1px solid #D9D9D9;
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: white;
    }

    .menu li:first-child {
    	border-top: 1px solid #D9D9D9;
    }

    .menu .current {
		color: #bcbcbc;
	}
}
