body {
    background-color: #f7f8ff;
}

/* -------- cover -------- */

#cover { 
    font-family: "Source Sans 3", Times, sans-serif;
    font-size: 2.3rem;
    width: 100%;
    line-height: 140%;
    margin-bottom: 5rem;
}

#cover h1 {
    color: #0e2a8f;
    font-weight: bold;
}

#title {
    margin: 8rem auto 13rem;
    width: 60%;
}

#home_timeline {
    width: 100%;
    height: 100px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

/* -------- content -------- */

#content { 
    margin: 3.5rem auto 0;
    border-bottom: 1px solid #BBB;
    font-size: 1.2rem;
}

#content article {
    width: 60%;
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: space-between;
}

#content article h2 {
    width: 25%;
    font-weight: bold;
}

#content article div {
    width: calc(75% - 1rem);
    line-height: 140%;
}

#content article ul {
    margin: 1rem 0 1rem 0;
}

#content article ul li {
    margin-bottom: 1rem;
}

#content strong {
    font-weight: bold;
}

/* -------- media queries -------- */


@media screen and (max-width: 768px) {


    #cover {
        line-height: 100%;
        margin: 0 auto;
    }

    #title {
        width: 95%;
    }

    #cover p {
        font-size: 2rem;
    }

    #content article { 
        width: 95%;
    }

    #content h2 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {

    #cover { 
/*        height: 50vh;*/
    }

    #cover p {
        font-size: 1.5rem;
    }

    #content article {
        display: block;
        width: 95%;
    }

    #content article h2, #content article div {
        width: 100%;
    }


}
