body {
    background-color: #f7f8ff;
}

/* -------- cover -------- */

#cover { 
    font-family: "Source Sans 3", Times, sans-serif;
    width: 100%;
    margin-bottom: 5rem;
}

#cover h1 {
    color: #0e2a8f;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 140%;
}

#cover h2 {
    font-size: 2.3rem;
    line-height: 140%;
}

#title {
    margin: 6rem auto 6rem;
    width: 60%;
}

#title p {
    font-size: 1.8rem; 
    line-height: 140%; 
    margin-top: 1.5rem;
}

#home_timeline {
    width: 100%;
    height: 100px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

/* -------- content -------- */

#content { 
    margin: 3.5rem auto 0;
    border-bottom: 1px solid #BBB;
    font-size: 1rem;
}

#content article {
    width: 60%;
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: space-between;
}

#content article:first-child {
    margin-bottom: 4rem;
}

#content article h3 {
    width: 25%;
    font-size: 1.3rem;
    font-weight: bold;
}

#content article div {
    width: calc(70% - 1rem);
    line-height: 140%;
}

#content article ul li {
    margin-bottom: 1rem;
}

#content article ul li:last-child {
    margin-bottom: 0;
}

h4 {
    font-weight: bold;
}

#content p {
    margin-bottom: 1rem;
}

#content p:last-child {
    margin-bottom: 0;
}

#content strong {
    font-weight: bold;
}

article img {
    max-width: 100%;
    height: auto;
    transition: .3s ease-in-out;
    box-shadow: 0 5px 11px #ccc;
    border-radius: 5px;
    /* cursor: pointer; */
}

#launch_prototype {
    position: absolute;
    top: calc(50% - 190px / 2);
    left: calc(50% - 190px / 2);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid #3e36c6;
    opacity: 0;
    background-color: white;
    padding: 20px;
    transition: opacity .3s ease-in-out;
    box-shadow: 0 0 10px 1px #3e36c624;
}

.hover_image:hover > #launch_prototype  {
    opacity: 1;
}

.hover_image:hover > img {
    opacity: .6;
}

.video_container {
    border:1px solid #ccc;
    width: 150%;
}


/* -------- media queries -------- */


@media screen and (max-width: 768px) {

    #cover {
        line-height: 100%;
        margin: 0 auto;
    }

    #title {
        width: 95%;
    }

    #content {
        font-size: 1rem;
    }

    #content article { 
        width: 95%;
    }

    #content h2 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {

    #title {
        margin: 1rem auto 10rem;
    }

    #cover h1 { 
        font-size: 1.8rem;
    }

    #cover h2 { 
        font-size: 1.8rem;
    }

    #cover p {
        font-size: 1.3rem;
    }

    #content article {
        display: block;
        width: 95%;
    }

    #content article h2, #content article h3 {
        width: 100%;
        margin-bottom: .5rem;
    }

    #content article div {
        width: 100%;
    }

    #launch_prototype {
        top: calc(50% - (190px /2));
        left: calc(50% - (190px /2));
    }

    .video_container {
        width: 100%;
    }

    #footer_home img {
        max-width: 45%;
    }


}
