/* -------- cover -------- */

#cover { 
    margin: 3.5rem auto 0;
    background-color: #f8f8f8;
    height: 70vh;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-family: "Source Serif 4", Arial, sans-serif;
}

#cover p {
    width: 70%;
    font-size: 3rem;
    line-height: 4rem;
}

@media screen and (max-width: 768px) {
    #cover p {
        width: 100%;
    }
}
