/* -------- timeline recap -------- */ 

#timeline_recap{
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: white;
}


#timeline_recap .recap_b {
    border-bottom: 1px solid #bcbcbc;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 2fr 7fr 1.5fr 0.5fr;
    grid-column-gap: 10px;
}

#timeline_recap .recap {
    height: 4rem;
    line-height: 3rem;
    padding: 0 20px;
}

#timeline_recap .recap_b .shift {
/*    background-color: #f6f6f6;*/
    grid-column-start: 2;
}

/* -------- actors -------- */ 

#actors {
    margin: 0 0 5rem;
    font-size: 0.9rem;
}

#actors_box li .actor_row {
    display: grid;
    grid-template-columns: 2fr 7fr 1.5fr 0.5fr;
    grid-column-gap: 10px;
    border-bottom: 1px solid #bcbcbc;
    padding: 0 20px;
}

#actors_box li .actor_row div {
    padding-top: 10px;
    padding-bottom: 10px;
/*    height: 10px;*/
}

.actor {
    display: flex;
    align-items: center;
}

    #actor_name_box {
        font-family: "Source Sans 3", Times, sans-serif;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
    }

    .actor_name {
        font-weight: bold;
    }

    .actor_role {
        font-weight: normal;
    }

    .actor_role {
        font-weight: normal;
    }

    #article_author {
        margin-bottom: 0.5rem;
    }

    #article_date {
        margin-bottom: 1rem;
    }

    .actor_timeline {
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
    }

.act {
/*    width: 10px; 
    height: 100%; */
}

#timeline {
/*    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;*/
}

#info {
    border-right: 1px solid #bcbcbc;
}

.info_box {
    padding: 10px;
}

.info_box p {
    line-height: 120%;
    margin-top: .25rem;
}

.open_box {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    justify-content: center;
}

.action_cat {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0 3px;
    border-radius: 5px;
}

/* -------- timeline -------- */ 
.the_axis {
    opacity: 0.5;
} 

.select_action {
    stroke:rgb(0,0,0);
    stroke-align: inset;
}

.actor_timeline .act {
    cursor: pointer;
}

.domain {
    display: none;
}

/* -------- article_boxes -------- */ 
.article_boxes {
/*    display: grid;
    grid-template-columns: 2fr 7fr 1.5fr 0.5fr;
    grid-column-gap: 10px;*/
/*    padding: 0 20px;*/
    border-bottom: 1px solid #bcbcbc;
    background-color: white;
}

.article_row {
    padding: 10px 20px;
    border-bottom: 1px solid #bcbcbc;

    display: grid;
    grid-template-columns: 2fr 7fr 1.5fr 0.5fr;
    grid-column-gap: 10px;
}

.article_row:last-child {
    border-bottom: none;
}

.article_row p {
    margin-bottom: 0.1rem;
}

.article_timeline svg {
    opacity: .5;
}

@media screen and (max-width: 768px) {

	/* -------- menu -------- */ 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-header {
    	width: 100%;
    }
    	
    .menu-toggle {
    	display: block;
    }

    .menu.active {
        display: flex;
        border-bottom: 1px solid #bbb;
    }

    .menu li {
        padding: 10px 20px;
        border-bottom: 1px solid #D9D9D9;
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: white;
    }

    .menu li:first-child {
    	border-top: 1px solid #D9D9D9;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu .current {
		color: #bcbcbc;
	}

	/* -------- search options -------- */ 

	#query input[type=text] {
		font-size: 2rem;
	}

    #autocomplete_list {
        width: 77.5%;
    }

    .lens {
        display: none;
    }

    #search_box .content{
        margin: 0;
    }

    #query input[type=text] {
        width: 100%;
    }

    #autocomplete_list {
        width: 91%;
    }
}
