/* -------- timeline recap -------- */ 

#timeline_recap {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: white;
    z-index: 1;
}


#timeline_recap .recap_b {
    border-bottom: 1px solid #bcbcbc;
    line-height: 1.5rem;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 2.9fr 5.5fr 2.7fr 0.5fr;
    grid-column-gap: 10px;
}

#timeline_recap .recap {
    height: 2rem;
    line-height: 3rem;
    padding: 0 20px;
}

#timeline_recap .recap_b .shift {
    grid-column-start: 2;
}

/* -------- actors -------- */ 

#actors {
    margin: 0 0 5rem;
    border-bottom: 1px solid #bcbcbc;
}

#actors_box li .actor_row {
    border-bottom: 1px solid #bcbcbc;
    padding: 0 20px;
    min-height: 120px;

    display: grid;
    grid-template-columns: 2.9fr 5.5fr 2.7fr 0.5fr;
    grid-column-gap: 10px;
}

#actors_box li .actor_row div {
    width: 100%;
    overflow-x: auto;
}

/*#actors_box li .actor_row:last-child {
    border-bottom: none;
}*/

.actor {
    display: flex;
    align-items: center;
}

#actor_name_box {
    font-family: "Source Sans 3", Times, sans-serif;
    display: flex;
    align-items: center;
}

    .actor_name {
        font-weight: bold;
    }

    .actor_role {
        font-weight: normal;
    }

    .actor_role {
        font-weight: normal;
    }

    #article_author {
        margin-bottom: 0.5rem;
    }

    #article_date {
        margin-bottom: 1rem;
    }

.actor_timeline {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
}

.info_box {
    padding: 10px;
    display: flex;
    align-items: center;
}

.open_box {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.info_box p {
    line-height: 120%;
/*    margin-top: .25rem;*/
}

.info_box .action_metadata, .single_action_row .action_metadata {
    margin-top: .2rem;
    width: 100%;
}

.action_metadata td:first-child {   
    width: 40%;
}

.open_box, .go_to_article {
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
}

.arrow_box {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.arrow_box:hover {
    background-color: white;
}

.action_cat {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0 3px;
    border-radius: 5px;
}

/* -------- article_boxes -------- */ 

.article_boxes {
    border-bottom: 1px solid #bcbcbc;
    background-color: white;
}

.article_row {
    padding: 0 20px;
    border-bottom: 1px solid #bcbcbc;
/*    display: flex;
    justify-content: space-between;*/

    display: grid;
    grid-template-columns: 2.9fr 5.5fr 2.7fr 0.5fr;
    grid-column-gap: 10px;
}

    .article_info {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .article_timeline {
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
    }

    .all_actions_row {
/*        width: 125%;*/
        padding: 10px 0;
    }

    .all_actions {
        padding: 0px 10px .5rem 10px;
        border-bottom: 1px solid #dbdbdb;
    }

    .single_action_row {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        padding: .6rem .5rem;
    }
    
    .single_action_row:last-child {
        border-bottom: none;
/*        margin-bottom: 1rem;*/
    }

.article_row:last-child {
    border-bottom: none;
}

.article_row p {
    margin-bottom: 0.1rem;
}

.article_timeline svg {
    opacity: .5;
}

.article_info .meta:first-child {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1rem;
}

/* -------- media queries -------- */ 

@media screen and (max-width: 768px) {

	/* -------- menu -------- */ 

/*    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-header {
    	width: 100%;
    }
    	
    .menu-toggle {
    	display: block;
    }

    .menu.active {
        display: flex;
        border-bottom: 1px solid #bbb;
    }

    .menu li {
        padding: 10px 20px;
        border-bottom: 1px solid #D9D9D9;
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: white;
    }

     .menu li:first-child {
    	border-top: 1px solid #D9D9D9;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu .current {
		color: #bcbcbc;
	}
*/
	/* -------- search options -------- */ 

	#query input[type=text] {
		font-size: 2rem;
	}

    #autocomplete_list {
        width: 77.5%;
    }

    .lens {
        display: none;
    }

    #search_box .content{
        margin: 0;
    }

    #query input[type=text] {
        width: 100%;
    }

    #autocomplete_list {
        width: 91%;
    }
}

@media screen and (max-width: 600px) {

    #error_quote {
        display: block;
        height: auto;
    }

    .error_box {
        margin-bottom: 1.7rem;
        font-size: .9rem;
    }

    .quote_box {
        font-size: 1.5rem;
    }

    .error_box, .quote_box {
        width: 100%;
    }

    /* -------- actor list -------- */ 

    /*#actors_box li .actor_row {
        display: block;
    }

    #actors_box li .actor_timeline {
        width: 80%;
        float: left;
    }

    #actors_box  li.open_box {
        width: 20%;
        float: right;
    }*/
}
