/* -------- search options -------- */ 

#search_options {
    margin-top: 3.5rem;
}

#search_box {
	font-family: "Source Serif 4", Times, serif;
	height: 9rem;
	border-bottom: 1px solid #bcbcbc;
	padding: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#query {
	margin-bottom: 0.5rem;
	width: 100%;
}

#search_box .content {
	margin-left: 1rem;
}

#query input[type=text] {
	font-family: "Source Serif 4", Times, serif;
	font-weight: bold;
	font-size: 4.5rem;
	width: 95%;
    background-color: transparent;
}

#autocomplete_list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #bcbcbc;
    position: absolute;
    background-color: white;
    width: 50%;
    height: 10rem;
    overflow-y: scroll;
    display: none;
}

#autocomplete_list li {
    padding: 8px;
    cursor: pointer;
}

#autocomplete_list li:hover {
    background-color: #f0f0f0;
}

/* -------- filter and sort -------- */ 

#filter_sort_options {
    height: 5.5rem;
    border-bottom: 1px solid #797373;
    display: flex;
    justify-content: space-between;
}

#filter_sort_options .controller {
    width: 50%;
    padding: 0 20px;
    line-height: 5rem;
}

#filter_sort_options .controller:first-child {
    border-right: 1px solid #bcbcbc;
}

/* -------- data recap -------- */ 

#data_recap {
    border-bottom: 1px solid #797373;
}

#data_recap .recap {
    display: grid;
    grid-template-columns: 3fr 3fr 6fr 1fr;
    grid-column-gap: 10px;
    padding: 20px 20px;
}

.recap .detail {
    display: flex;
}

.recap .detail .value {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.recap .detail .label {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.small_recap {
    font-size: 0.9rem;
}
/* -------- timeline -------- */ 

#timeline_recap{
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    background-color: white;
}


#timeline_recap .recap_b {
    border-bottom: 1px solid #bcbcbc;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 2fr 7.5fr 1fr;
    grid-column-gap: 10px;
}

#timeline_recap .recap {
    height: 4rem;
    line-height: 3rem;
    padding: 0 20px;
}

#timeline_recap .recap_b .shift {
/*    background-color: #f6f6f6;*/
    grid-column-start: 2;
}

/* -------- articles -------- */ 

#articles {
    margin: 0 0 5rem;
    font-size: 0.9rem;
}

#articles_box li {
    display: grid;
    grid-template-columns: 2fr 7.5fr 1fr;
    grid-column-gap: 10px;
    border-bottom: 1px solid #bcbcbc;
    padding: 0 20px;
}

#articles_box li .item {
    padding-top: 10px;
    padding-bottom: 10px;
/*    height: 10px;*/
}

.article {

}

    #article_title {
        font-family: "Source Serif 4", Times, serif;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    #article_title a {
        text-decoration: underline;
    }

    #article_author {
        margin-bottom: 0.5rem;
    }

    #article_date {
        margin-bottom: 1rem;
    }

.act {
/*    width: 10px; 
    height: 100%; */
}

#timeline {
/*    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;*/
}

#info {
    border-right: 1px solid #bcbcbc;
}

.info_box {
    padding: 10px;
}

.info_box p {
    line-height: 120%;
    margin-top: .25rem;
}

.action_cat {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0 3px;
}

/* -------- timeline -------- */ 
.the_axis {
    opacity: 0.5;
} 

.select_action {
    stroke:rgb(0,0,0);
    stroke-align: inset;
}

.act {
    cursor: pointer;
}

.domain {
    display: none;
}

@media screen and (max-width: 768px) {

	/* -------- menu -------- */ 

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-header {
    	width: 100%;
    }
    	
    .menu-toggle {
    	display: block;
    }

    .menu.active {
        display: flex;
        border-bottom: 1px solid #797373;
    }

    .menu li {
        padding: 10px 20px;
        border-bottom: 1px solid #D9D9D9;
        height: 2.5rem;
        line-height: 2.5rem;
        background-color: white;
    }

    .menu li:first-child {
    	border-top: 1px solid #D9D9D9;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu .current {
		color: #bcbcbc;
	}

	/* -------- search options -------- */ 

	#query input[type=text] {
		font-size: 2rem;
	}

    #autocomplete_list {
        width: 77.5%;
    }

    .lens {
        display: none;
    }

    #search_box .content{
        margin: 0;
    }

    #query input[type=text] {
        width: 100%;
    }

    #autocomplete_list {
        width: 91%;
    }
}
